*			text=auto

*.htaccess	eol=crlf
*.cgi		eol=crlf
*.sh		eol=crlf

*.css		text
*.htm		text
*.html		text
*.js		text
*.json		text
*.php		text
*.txt		text
*.md		text

*.png		-text
*.gif		-text
*.jpg		-text
